body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #353839;
}

hr.style {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #000 inset;
}

a {
  color: #868888;
}

a:hover {
  color: black;
}

a:link:hover {
  text-decoration: none;
}

/*header*/
#profile-pic {
  border-radius: 50%;
  margin-top: 2%;
  margin-left: 2%;
}

/*article*/
.work {
  height: 100%;
}

.project {
  margin-top: 1%;
}

.tag {
  margin-top: 1%;
}

.marg-spacing {
  margin-bottom: 1%;
}

/*footer*/
footer {
  color: #868888;
}

.fa {
  padding: 1%;
}

.spacing {
  padding-left: 1%;
}

@media screen and (min-width: 992px) {
  .links {
    text-align: right;
  }
  #footer-text {
    float: left;
  }
}

@media screen and (max-width: 991px) {
  .links {
    text-align: center;
  }
  #footer-text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .col-xs-12 {
    width: 50%;
  }
}

@media screen and (min-width: 412px) and (max-width: 515px) {
  #profile-pic {
    margin-top: 10%;
  }
}

@media screen and (max-width: 411px) {
  #profile-pic {
    margin-top: 25%;
  }
}
